:host([data-component='device-selector']) {
  display: block;

  & nav {
    border-bottom: 2px solid var(--pico-primary-hover-background);
    width: 100%;
    margin-top: 0.5rem;
    padding-inline: 0.5rem;
  }

  & div[role='group'] {
    margin-bottom: 0px;
  }

  [role='group'] button {
    --pico-form-element-spacing-vertical: 0.3rem;
    --pico-form-element-spacing-horizontal: 1rem;
    border-radius: 0;
  }

  & select {
    width: 2rem;
    padding: 0.3rem;
    background-image: none;
    text-align: center;
    margin: 0;
  }
}
